<!--<nav class="navbar fixed-bottom navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="#"><fa-icon [icon]="faUsers"></fa-icon>-->
  <!--</a>-->
  <!--<a class="navbar-brand" href="#"><fa-icon [icon]="faMicrophoneAlt"></fa-icon>-->
  <!--</a>-->
  <!--<a class="navbar-brand" href="#"><fa-icon [icon]="faMoneyBillAlt"></fa-icon>-->
  <!--</a>-->
  <!--<a class="navbar-brand" href="#"><fa-icon [icon]="faDollarSign"></fa-icon>-->
  <!--</a>-->
  <!--<a class="navbar-brand" href="#"><fa-icon [icon]="faCogs"></fa-icon>-->
  <!--</a>-->
<!--</nav>-->
<router-outlet></router-outlet>
